.icon {
  width: 100px;
  height: 100px;
}

.icon-sett {
  width: 100px;
  height: 100px;
}

.icon-safe {
  width: 68px;
  height: 68px;
}

.icon-cart {
  width: 68px;
  height: 68px;
}

.icon-heart {
  width: 68px;
  height: 68px;
}